<link rel="import" href="/resources/bower_components/polymer/polymer-element.html">
<link rel="import" href="/resources/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/resources/bower_components/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="/resources/bower_components/paper-input/paper-input.html">
<link rel="import" href="/resources/bower_components/paper-item/paper-item.html">
<link rel="import" href="/resources/bower_components/paper-checkbox/paper-checkbox.html">


<dom-module id="volumetric-config">
    <template>
    <style>
      :host {
          display: block;

          padding: 10px;
      }
    </style>

        <iron-ajax id="getRequirements" url$="/api/plugins/get_requirements?plugin_name=[[plugin]]"
                   last-response="{{requirements}}"></iron-ajax>
        <iron-ajax id="getAutomagicRequirements" url="/api/plugins/get_automagic_requirements"
                   last-response="{{automagicRequirements}}"></iron-ajax>
        <iron-ajax id="getAutomagics" url="/api/plugins/get_automagics" last-response="{{automagics}}"></iron-ajax>
        <paper-collapse-item header="Available Automagics" opened>
            <template is="dom-repeat" items="{{automagics}}">
                <paper-item>
                    <paper-checkbox checked>({{item.priority}}) {{item.name}} - {{item.description}}</paper-checkbox>
                </paper-item>
            </template>
        </paper-collapse-item>
        <paper-collapse-item header="Automagic Options" opened>
            <template is="dom-repeat" items="{{automagicRequirements}}">
                <div>
                    <paper-input label="{{item.description}} ({{item.name}})"></paper-input>
                </div>
            </template>
        </paper-collapse-item>
        <paper-collapse-item header="{{plugin}} Options" opened>
            <template is="dom-repeat" items="{{requirements}}">
                <div>
                    <paper-input label="{{item.description}} ({{item.name}})"></paper-input>
                </div>
            </template>
        </paper-collapse-item>

    </template>

    <script>
    class VolumetricConfig extends Polymer.Element {
        static get is() {
            return 'volumetric-config';
        }

        static get properties() {
            return {
                'page': {
                    type: String,
                    observer: '_refresh',
                    notify: true
                },
                'plugin': {
                    type: String,
                    notify: true
                }
            }
        }

        _refresh() {
            this.$.getRequirements.generateRequest();
            this.$.getAutomagics.generateRequest();
            this.$.getAutomagicRequirements.generateRequest();
        }
    }

    window.customElements.define(VolumetricConfig.is, VolumetricConfig);
  </script>
</dom-module>
