<link rel="import" href="/resources/bower_components/polymer/polymer-element.html">
<link rel="import" href="/resources/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/resources/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/resources/bower_components/iron-form/iron-form.html">
<link rel="import" href="/resources/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/resources/bower_components/paper-item/paper-item.html">
<link rel="import" href="/resources/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/resources/bower_components/paper-input/paper-input.html">
<link rel="import" href="/resources/components/volumetric-requirement-string.html">
<link rel="import" href="/resources/components/volumetric-requirement-list.html">

<dom-module id="volumetric-requirement-editor">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-alignment">
            paper-card {
                width: 100%;
            }
        </style>

        <template is="dom-repeat" items="{{requirements}}">
            <template is="dom-if" if="{{is_type(item.type, 'IntRequirement')}}">
                <volumetric-requirement-string element="{{item}}"></volumetric-requirement-string>
            </template>
            <template is="dom-if" if="{{is_type(item.type, 'StringRequirement')}}">
                <volumetric-requirement-string element="{{item}}"></volumetric-requirement-string>
            </template>
            <template is="dom-if" if="{{is_type(item.type, 'ListRequirement')}}">
                <volumetric-requirement-list element="{{item}}"></volumetric-requirement-list>
            </template>
        </template>
    </template>

    <script>
        class VolumetricRequirementEditor extends Polymer.Element {
            static get is() {
                return 'volumetric-requirement-editor';
            }

            static get properties() {
                return {
                    'element': {
                        type: Object,
                        notify: true
                    },
                    'requirements': {
                        type: Object,
                        notify: true
                    }
                }
            }

            is_type(element, type) {
                return (element == type);
            }
        }

        window.customElements.define(VolumetricRequirementEditor.is, VolumetricRequirementEditor);
    </script>
</dom-module>
