<link rel="import" href="/resources/bower_components/polymer/polymer-element.html">


<dom-module id="volumetric-plugins">
    <template>
    <style>
      :host {
          display: block;

          padding: 10px;
      }
    </style>
    </template>

    <script>
    class VolumetricConfig extends Polymer.Element {
        static get is() {
            return 'volumetric-config';
        }

        static get properties() {
            return {
                'page': {
                    type: String,
                    notify: true
                },
                'plugin': {
                    type: String,
                    notify: true
                }
            }
        }

    }

    window.customElements.define(VolumetricConfig.is, VolumetricConfig);
  </script>
</dom-module>
