<link rel="import" href="/resources/bower_components/polymer/polymer-element.html">
<link rel="import" href="/resources/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/resources/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/resources/bower_components/iron-form/iron-form.html">
<link rel="import" href="/resources/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/resources/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/resources/bower_components/paper-input/paper-input.html">
<link rel="import" href="/resources/bower_components/paper-item/paper-item.html">

<dom-module id="volumetric-requirement-boolean">
    <template>
        <paper-checkbox label="{{_friendlyName(element.name)}} ({{element.description}})"
                        checked$="{{element.default}}" name="vol_{{element.name}}"
                        required="{{!element.optional}}" error-message="Invalid value">{{_friendlyName(element.name)}}
            ({{element.description}})
        </paper-checkbox>
    </template>

    <script>
        class VolumetricRequirementBoolean extends Polymer.Element {
            static get is() {
                return 'volumetric-requirement-boolean';
            }

            static get properties() {
                return {
                    'element': {
                        type: Object,
                        notify: true
                    }
                }
            }

            _friendlyName(name) {
                return name.substring(name.lastIndexOf('.') + 1, name.length)
            }
        }

        window.customElements.define(VolumetricRequirementBoolean.is, VolumetricRequirementBoolean);
    </script>
</dom-module>
